In [10]:
import pandas as pd

In [11]:
D1 = pd.read_csv("data/Sentiment analysis/Data 1/Tweets.csv")

In [12]:
D1.head()

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada)
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada)
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada)
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada)
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada)

In [13]:
D1 = D1[["text", "airline_sentiment"]]

In [14]:
D1

                                                    text airline_sentiment
0                    @VirginAmerica What @dhepburn said.           neutral
1      @VirginAmerica plus you've added commercials t...          positive
2      @VirginAmerica I didn't today... Must mean I n...           neutral
3      @VirginAmerica it's really aggressive to blast...          negative
4      @VirginAmerica and it's a really big bad thing...          negative
...                                                  ...               ...
14635  @AmericanAir thank you we got on a different f...          positive
14636  @AmericanAir leaving over 20 minutes Late Flig...          negative
14637  @AmericanAir Please bring American Airlines to...           neutral
14638  @AmericanAir you have my money, you change my ...          negative
14639  @AmericanAir we have 8 ppl so we need 2 know h...           neutral

[14640 rows x 2 columns]

In [15]:
D1['text'] = D1['text'].apply(lambda x: ' '.join(x.split()[1:]) if len(x.split()) > 1 else '')

In [16]:
D1

                                                    text airline_sentiment
0                                   What @dhepburn said.           neutral
1      plus you've added commercials to the experienc...          positive
2      I didn't today... Must mean I need to take ano...           neutral
3      it's really aggressive to blast obnoxious "ent...          negative
4               and it's a really big bad thing about it          negative
...                                                  ...               ...
14635  thank you we got on a different flight to Chic...          positive
14636  leaving over 20 minutes Late Flight. No warnin...          negative
14637    Please bring American Airlines to #BlackBerry10           neutral
14638  you have my money, you change my flight, and d...          negative
14639  we have 8 ppl so we need 2 know how many seats...           neutral

[14640 rows x 2 columns]

In [17]:
D1.isna().sum()

text                 0
airline_sentiment    0
dtype: int64

In [26]:

import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

nltk.download('stopwords')
nltk.download('punkt')

# Load stop words
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\LENOVO\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [27]:
def preprocess_text(text):
    text = text.lower()  # Convert to lowercase
    text = re.sub(r'<.*?>', '', text)  # Remove HTML tags
    text = re.sub(r'http\S+', '', text)  # Remove URLs
    text = re.sub(r'[^a-zA-Z\s]', '', text)  # Remove special characters
    text = ' '.join([word for word in word_tokenize(text) if word not in stop_words])  # Remove stop words
    return text

In [28]:
D1['text'] = D1['text'].apply(preprocess_text)

In [29]:
D1

                                                    text airline_sentiment
0                                          dhepburn said           neutral
1          plus youve added commercials experience tacky          positive
2           didnt today must mean need take another trip           neutral
3      really aggressive blast obnoxious entertainmen...          negative
4                                   really big bad thing          negative
...                                                  ...               ...
14635                 thank got different flight chicago          positive
14636  leaving minutes late flight warnings communica...          negative
14637          please bring american airlines blackberry           neutral
14638  money change flight dont answer phones suggest...          negative
14639  ppl need know many seats next flight plz put u...           neutral

[14640 rows x 2 columns]

In [30]:
D1 = D1.rename(columns={'airline_sentiment':'sentiment'})

In [31]:
D1

                                                    text sentiment
0                                          dhepburn said   neutral
1          plus youve added commercials experience tacky  positive
2           didnt today must mean need take another trip   neutral
3      really aggressive blast obnoxious entertainmen...  negative
4                                   really big bad thing  negative
...                                                  ...       ...
14635                 thank got different flight chicago  positive
14636  leaving minutes late flight warnings communica...  negative
14637          please bring american airlines blackberry   neutral
14638  money change flight dont answer phones suggest...  negative
14639  ppl need know many seats next flight plz put u...   neutral

[14640 rows x 2 columns]

In [32]:
D1['sentiment'] = D1['sentiment'].map({'positive': 2, 'neutral': 1, 'negative': 0})

In [33]:
D1

                                                    text  sentiment
0                                          dhepburn said          1
1          plus youve added commercials experience tacky          2
2           didnt today must mean need take another trip          1
3      really aggressive blast obnoxious entertainmen...          0
4                                   really big bad thing          0
...                                                  ...        ...
14635                 thank got different flight chicago          2
14636  leaving minutes late flight warnings communica...          0
14637          please bring american airlines blackberry          1
14638  money change flight dont answer phones suggest...          0
14639  ppl need know many seats next flight plz put u...          1

[14640 rows x 2 columns]

In [34]:
D1.duplicated().sum()

517

In [35]:
D1.drop_duplicates()

                                                    text  sentiment
0                                          dhepburn said          1
1          plus youve added commercials experience tacky          2
2           didnt today must mean need take another trip          1
3      really aggressive blast obnoxious entertainmen...          0
4                                   really big bad thing          0
...                                                  ...        ...
14635                 thank got different flight chicago          2
14636  leaving minutes late flight warnings communica...          0
14637          please bring american airlines blackberry          1
14638  money change flight dont answer phones suggest...          0
14639  ppl need know many seats next flight plz put u...          1

[14123 rows x 2 columns]

In [37]:
D1.to_csv("data/Sentiment analysis/Preprocessed data/D1.csv")